@import 'shepherd.js/dist/css/shepherd.css';

/* tailwind config */
@import 'tailwindcss';

@font-face {
  font-family: 'Kablammo';
  src: url('/fonts/kablammo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TamaConnect';
  src: url('/fonts/tamaconnecttype.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --animate-progress: progress 1s infinite linear;

  @keyframes progress {
    0% {
      transform: translateX(0) scaleX(0);
    }
    40% {
      transform: translateX(0) scaleX(0.4);
    }
    100% {
      transform: translateX(100%) scaleX(0.5);
    }
  }
}

@utility font-kablammo {
  font-family: 'Kablammo', 'Comic Sans MS', 'Comic Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'MORF' 0;
}

@utility font-tama {
  font-family: 'TamaConnect';
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-primary: var(--color-indigo-900);
}

/* styles */
* {
  @apply select-none;
}

html,
body {
  @apply overflow-hidden overscroll-none touch-none;
}

body {
  @apply w-screen h-[100svh];
  @apply font-mono;
  background-color: var(--color-primary);
}

.loading {
  @apply fixed top-0 w-full h-full z-20;
  @apply flex flex-col gap-8 justify-center items-center;
  @apply transition-[height] duration-700;
  background-color: var(--color-primary);
}

.loading p {
  @apply font-kablammo uppercase text-white text-6xl;
  @apply opacity-100 transition-opacity;
}

.loading .progress {
  @apply h-1.5 w-60 bg-white overflow-hidden rounded-full opacity-100 transition-opacity;
}

.loading .progress > div {
  @apply animate-progress origin-[0%_50%] h-full;
  background-color: var(--color-primary);
  filter: brightness(1.75);
}

.loading.end {
  @apply h-0;
}

.loading.end p {
  @apply opacity-0;
}

.loading.end .progress {
  @apply opacity-0;
}

.credits {
  @apply fixed bottom-0 w-full h-0 z-20 overflow-hidden;
  @apply transition-[height] duration-700;
  background-color: var(--color-primary);
}

.credits .content {
  @apply opacity-0 transition-opacity;
  @apply flex flex-col items-center justify-center gap-8 w-full h-full px-4;
  @apply text-white font-mono drop-shadow shadow-black text-center;
}

.credits.open {
  @apply h-full;
}

.credits.open .content {
  @apply opacity-100;
}

.webgl {
  @apply fixed top-0 left-0 outline-none;
}

main footer {
  @apply fixed bottom-0 w-full p-2.5 z-10;
  @apply flex justify-between items-center;
  @apply text-white font-mono text-right text-sm drop-shadow shadow-black;
  background-color: var(--color-primary);
}

.standalone main footer {
  @apply pb-10;
}

button {
  @apply bg-white hover:bg-gray-200 flex items-center justify-center cursor-pointer drop-shadow shadow-black px-4 py-2;
  color: var(--color-primary);
}
button.fab {
  @apply rounded-full size-10 text-xl p-0;
}

.tutorial-overlay {
  @apply fixed inset-0 justify-center items-center z-30;
}

.tutorial-overlay .tutorial-spotlight {
  @apply bg-transparent rounded-full size-[10000px] aspect-square border-black/60 border-[1000px] transition-all duration-1500;
}

#html2canvas {
  @apply fixed -z-20 left-0 bottom-0 size-[256px];
}

#html2canvas > * {
  @apply w-full h-full;
}

/* shepherd customization  */
.tutorial-step {
  @apply rounded-none;
}

.tutorial-step:not(.ignore) {
  @apply !top-[unset] !bottom-0 !left-0;
}

.tutorial-step .shepherd-text {
  @apply text-center;
}

.tutorial-step.small .shepherd-text {
  @apply text-left text-sm;
}

.tutorial-step .shepherd-footer {
  @apply p-4 justify-center;
}

.standalone .tutorial-step .shepherd-footer {
  @apply pb-10;
}

.tutorial-step.shepherd-has-title .shepherd-content .shepherd-header {
  @apply bg-white;
}

.tutorial-step.shepherd-has-title .shepherd-content .shepherd-header .shepherd-title {
  @apply font-tama justify-center;
}

.tutorial-step .shepherd-button:not(.shepherd-button-secondary) {
  background-color: var(--color-primary);
}
