* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #1e1a20;
}

.webgl-container {
  height: 100lvh;
  width: 100vw;
  position: fixed;
}

.webgl {
  position: absolute;
  outline: none;
}

.section {
  display: flex;
  align-items: center;
  height: 100lvh;
  position: relative;
  font-family: 'Cabin', sans-serif;
  color: #ffeded;
  text-transform: uppercase;
  font-size: 7vmin;
  padding-left: 10%;
  padding-right: 10%;
}

section:nth-child(odd) {
  justify-content: flex-end;
}
